body {
  margin:0;
  background-color: #fff;
}

.nav-panel {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 8px;
  box-shadow: -2px 15px 20px 5px rgba(0,0,0,0.08);
  margin-bottom: 35px;
  height: 40px;
}

.filter {
  display: flex;
  height: 140px;
}

.nav-buttons {
  background-color: #f3a781;
    border: 1px;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.nav-buttons:hover {
  background-color: #ff9966;
  box-shadow: 3px 3px 50px 4px #F47D05;

}

.search-ingredient {
  padding-top: 5px;
  padding-left: 0px;
}

.search-ingredient input {
  height: 25px;
  width: 200px;
}

.search-btn {
  height: 31px;
}

.search-btn:hover {
  background-color:  #F47D05;
}

.tags h5 {
  margin: 10px 0px 10px 10px;
    color: #993300;
}
.tags {
  border: 2px solid grey;
  background-color: #fff;
  padding: 5px;
  margin-right: 5px;
  font-weight: 500;
  height: 500px;
  width: 200px;
  box-shadow: 1px 12px 17px 3px rgba(117,34,17,0.87);
}

.recipe-card {
  display: flex;
    background-color: #fff;
    height: 264px;
    border-color: black;
    width: 200px;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid grey;
    margin-top: 20px;
    margin-left: 10px;
    align-items: center;
    margin-right: 31px;
    flex-wrap: wrap;
    box-shadow: 1px 12px 17px 3px rgba(117,34,17,0.87)
    ;
}

.recipe-card h1 {
  margin: 5px;
  font-size: medium;
}

.main-page {
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.all-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 700px;
}

.btn {
  border: 1px grey solid;
  border-radius: 13px;
  height: 29px;
  font-weight: 500;
  margin:5px
}
.btn:hover {
  background-image:none !important;
  background-color:#ffaa80 !important;
  border: 1px grey solid;
  border-radius: 13px;
  height: 29px;
  font-weight: 500;
}

.recipe-btns {
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.cook-and-favorite-btn {
  width: 80px;
  margin-top: 5px;
  background-color: transparent;
  border: 0px;
}

.cook-and-favorite-btn:hover {
  width: 80px;
  background-color:#ffaa80;
  border: 0px;
  border-radius: 14px;
}

img {
  width: 200px;
  height: 150px
}

.hidden {
  display: none !important;
}

.recipe-page-view {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.image-tags {
  display: flex;
  flex-direction: column; 
  box-shadow: 1px 12px 17px 3px rgba(117,34,17,0.87);
}

.image-tags img {
  width: 400px;
  height: 400px;
  border: #fff 1px solid;
}

.image-tags p {
  margin: 0px;
  display: flex;
  justify-content: center;
  height: fit-content;
}

.recipe-instructions {
  width: fit-content;
  height: fit-content;
}

.recipe-instructions h1 {
  font-size: xx-large;
  margin-right: 85px;
}

.recipe-instructions p {
  height: fit-content;
  width: 400px;
  margin: 0px;
}

.view-recipe-page-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10px;
}

.favorites-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: xx-large;
}